@page {
    size: A4;
}

body {
    padding: 0;
    margin: 0;
    width: 210mm;
    height: 297mm;
    overflow-y: scroll;
    background-color: #444444;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
